<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-8">
      <h2>About Us</h2>
      <p>
        Welcome to ITI, a premier educational institution dedicated to
        fostering academic excellence and personal development in every student. 
        Our commitment is to provide a dynamic learning environment where students 
        can thrive and realize their full potential.
      </p>
      <p>
        At ITI, we believe in the power of education to transform lives 
        and shape the future. Our passionate educators are dedicated to delivering 
        innovative teaching methods and comprehensive support to nurture the holistic 
        growth of our students.
      </p>
      <p>
        Join us as we embark on a journey of discovery and empowerment. Together, 
        let's unlock possibilities and inspire greatness in the leaders of tomorrow.
      </p>
    </div>
  </div>
</div>
